option_settings:
  - option_name: BUNDLE_WITHOUT
    value: "test:development"
  - option_name: RACK_ENV
    value: production
 
packages:
  apt:
    libxslt-dev: [] 
    libxml2-dev: [] 

container_commands:
  01_bundle:
    command: bundle config build.nokogiri --use-system-libraries
    command: bundle install
